apiVersion: v1
kind: Service
metadata:
  name: {{ template "dgraph.zero.fullname" . }}
  labels:
    app: {{ template "dgraph.name" . }}
    chart: {{ template "dgraph.chart" . }}
    component: {{ .Values.zero.name }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    monitor: {{ .Values.zero.monitorLabel }}
  {{- with .Values.zero.service.annotations }}
  annotations:
    {{- toYaml . | trimSuffix "\n" | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.zero.service.type }}
  {{- if .Values.zero.service.loadBalancerIP }}
  loadBalancerIP: {{ .Values.zero.service.loadBalancerIP }}
  {{- end }}
  {{- if .Values.zero.externalTrafficPolicy }}
  externalTrafficPolicy: {{ .Values.zero.externalTrafficPolicy }}
  {{- end }}
  ports:
  - port: 5080
    targetPort: 5080
    name: grpc-zero
  - port: 6080
    targetPort: 6080
    name: http-zero
  {{- with .Values.zero.service.loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  publishNotReadyAddresses: {{ .Values.zero.service.publishNotReadyAddresses }}
  selector:
    app: {{ template "dgraph.name" . }}
    chart: {{ template "dgraph.chart" . }}
    release: {{ .Release.Name }}
    component: {{ .Values.zero.name }}
