alpha:
  tls:
    enabled: true
  configFile:
    config.yaml: |
      tls_cacert: /dgraph/tls/ca.crt
      tls_node_cert: /dgraph/tls/node.crt
      tls_node_key: /dgraph/tls/node.key
      tls_use_system_ca: true
zero:
  tls:
    enabled: false
