{{- $hasS3Keys := include "dgraph.backups.keys.s3.enabled" . -}}
{{- $hasMinioKeys := include "dgraph.backups.keys.minio.enabled" . -}}
{{- $backupsEnabled := or .Values.backups.full.enabled .Values.backups.incremental.enabled }}
{{- if and $backupsEnabled (or .Values.alpha.acl.enabled .Values.backups.admin.auth_token $hasS3Keys $hasMinioKeys) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "dgraph.backups.fullname" . }}-secret
  labels:
    app: {{ template "dgraph.name" . }}
    chart: {{ template "dgraph.chart" . }}
    component: {{ .Values.backups.name }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  {{- with .Values.alpha.tls.annotations }}
  annotations:
    {{- toYaml . | trimSuffix "\n" | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{- if .Values.alpha.acl.enabled }}
  backup_admin_password: {{ .Values.backups.admin.password | b64enc | quote }}
  {{- end }}
  {{- if .Values.backups.admin.auth_token }}
  backup_auth_token: {{ .Values.backups.admin.auth_token | b64enc | quote }}
  {{- end }}
  {{- if $hasS3Keys }}
  s3_access_key: {{ .Values.backups.keys.s3.access | b64enc | quote }}
  s3_secret_key: {{ .Values.backups.keys.s3.secret | b64enc | quote }}
  {{- end }}
  {{- if $hasMinioKeys }}
  minio_access_key: {{ .Values.backups.keys.minio.access | b64enc | quote }}
  minio_secret_key: {{ .Values.backups.keys.minio.secret | b64enc | quote }}
  {{- end }}
{{- end }}
