{{- if .Values.script.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "dgraph-lambda.fullname" . }}-config
  labels:
    {{- include "dgraph-lambda.labels" . | nindent 4 }}
data:
  script.js: {{ .Values.script.script }}
{{- end -}}
