{{- if (eq .Values.global.ingress.enabled true) -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ template "dgraph.fullname" . }}-ingress
  labels:
    app: {{ template "dgraph.name" . }}
    chart: {{ template "dgraph.chart" . }}
    component: {{ .Values.alpha.name }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  {{- with .Values.global.ingress.annotations }}
  annotations:
    {{- toYaml . | trimSuffix "\n" | nindent 4 }}
  {{- end }}
spec:
{{- if .Values.global.ingress.tls }}
  tls:
  {{- range .Values.global.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
    - host: {{ .Values.global.ingress.alpha_hostname }}
      http:
        paths:
          - backend:
              service:
                name:  {{ template "dgraph.alpha.fullname" . }}
                port:
                  number: 8080
            pathType: ImplementationSpecific
            {{- if index $.Values.global.ingress "annotations" }}
            {{- if eq (index $.Values.global.ingress.annotations "kubernetes.io/ingress.class" | default "") "gce" "alb" "nsx" }}
            path: /*
            {{- else }}{{/* Has annotations but ingress class is not "gce" nor "alb" */}}
            path: /
            {{- end }}
            {{- else}}{{/* Has no annotations */}}
            path: /
            {{- end }}
    {{- if .Values.ratel.enabled }}
    - host: {{ .Values.global.ingress.ratel_hostname }}
      http:
        paths:
          - backend:
              service:
                name:  {{ template "dgraph.ratel.fullname" . }}
                port:
                  number: 80
            pathType: ImplementationSpecific
            {{- if index $.Values.global.ingress "annotations" }}
            {{- if eq (index $.Values.global.ingress.annotations "kubernetes.io/ingress.class" | default "") "gce" "alb" "nsx" }}
            path: /*
            {{- else }}{{/* Has annotations but ingress class is not "gce" nor "alb" */}}
            path: /
            {{- end }}
            {{- else}}{{/* Has no annotations */}}
            path: /
            {{- end }}
    {{- end }}
{{- end }}
---
{{- if (eq .Values.global.ingress_grpc.enabled true) -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ template "dgraph.fullname" . }}-ingress-grpc
  labels:
    app: {{ template "dgraph.name" . }}
    chart: {{ template "dgraph.chart" . }}
    component: {{ .Values.alpha.name }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  {{- with .Values.global.ingress_grpc.annotations }}
  annotations:
    {{- toYaml . | trimSuffix "\n" | nindent 4 }}
  {{- end }}
spec:
{{- if .Values.global.ingress_grpc.tls }}
  tls:
  {{- range .Values.global.ingress_grpc.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
    - host: {{ .Values.global.ingress_grpc.alpha_grpc_hostname }}
      http:
        paths:
          - backend:
              service:
                name:  {{ template "dgraph.alpha.fullname" . }}
                port:
                  number: 9080
            pathType: ImplementationSpecific
            {{- if index $.Values.global.ingress_grpc.annotations "annotations" }}
            {{- if eq (index $.Values.global.ingress_grpc.annotations "kubernetes.io/ingress.class" | default "") "gce" "alb" "nsx" }}
            path: /*
            {{- else }}{{/* Has annotations but ingress class is not "gce" nor "alb" */}}
            path: /
            {{- end }}
            {{- else}}{{/* Has no annotations */}}
            path: /
            {{- end }}
{{- end }}
